<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-511 node-type-panopoly-page domain-loyalty-humboldt-edu region-content" original-class="html not-front not-logged-in no-sidebars page-node page-node- page-node-511 node-type-panopoly-page domain-loyalty-humboldt-edu region-content">
 <div id="skip-link">
 <a href="#main-content" class="element-invisible element-focusable" original-class="element-invisible element-focusable">Skip to main content</a>
 </div>
 <header class="masthead-wrap" original-class="masthead-wrap"><div class="masthead" original-class="masthead">
 <div class="wrapper clearfix" original-class="wrapper clearfix">
 <p class="hsumark" original-class="hsumark"><a href="http://humboldt.edu"><img src="/themes/humboldt2/img/hsu-wm.svg" alt="Humboldt State University"></a></p>
 </div>
<!-- /wrapper -->
 </div>
<!-- /masthead -->
 <div class="branding" original-class="branding">
 <div class="main-nav-wrap clearfix" original-class="main-nav-wrap clearfix">
 <a href="#menu" class="menu-link" original-class="menu-link"><span class="icon-menu-link" original-class="icon-menu-link"></span> Menu</a>
 <nav id="menu" class="menu wrapper" original-class="menu wrapper" role="navigation"><h2 class="element-invisible" original-class="element-invisible">Main menu</h2>
<ul id="main-menu-links" class="links clearfix" original-class="links clearfix"><li class="menu-23975 first" original-class="menu-23975 first"><a href="http://loyalty.humboldt.edu/" title="">Home</a></li>
<li class="menu-23972 active-trail" original-class="menu-23972 active-trail"><a href="http://loyalty.humboldt.edu/giving-humboldt-state-university" class="active-trail" original-class="active-trail">Give</a></li>
<li class="menu-23973" original-class="menu-23973"><a href="http://loyalty.humboldt.edu/promote">Promote</a></li>
<li class="menu-23974 last" original-class="menu-23974 last"><a href="http://loyalty.humboldt.edu/volunteer">Volunteer</a></li>
</ul></nav></div>
 <!-- /menu-->
 <nav class="audience-nav wrapper clearfix" original-class="audience-nav wrapper clearfix"><div class="region region-audience-nav" original-class="region region-audience-nav">
 <div id="block-menu-block-2" class="block block-menu-block" original-class="block block-menu-block">
 
 <div class="content" original-class="content">
 <div class="menu-block-wrapper menu-block-2 menu-name-menu-humboldt-loyalty parent-mlid-0 menu-level-2" original-class="menu-block-wrapper menu-block-2 menu-name-menu-humboldt-loyalty parent-mlid-0 menu-level-2">
 <ul class="menu" original-class="menu"><li class="first leaf menu-mlid-23900" original-class="first leaf menu-mlid-23900"><a href="http://loyalty.humboldt.edu/areas-support">Areas to Support</a></li>
<li class="leaf active-trail active menu-mlid-23901" original-class="leaf active-trail active menu-mlid-23901"><a href="http://loyalty.humboldt.edu/ways-give" class="active-trail active" original-class="active-trail active">Ways to Give</a></li>
<li class="leaf menu-mlid-23902" original-class="leaf menu-mlid-23902"><a href="http://loyalty.humboldt.edu/giving-opportunities">Giving Opportunities</a></li>
<li class="last leaf menu-mlid-23976" original-class="last leaf menu-mlid-23976"><a href="http://loyalty.humboldt.edu/giving-stories">Giving Stories</a></li>
</ul></div>
 </div>
</div>
 </div>
 </nav><div class="wrapper" original-class="wrapper">
 <h1 class="col-8" original-class="col-8"><a href="http://loyalty.humboldt.edu/"><img src="/themes/humboldt2/img/humloyalty-mark.png" alt="Humboldt Loyalty"></a></h1>
 <p class="give-now col-4" original-class="give-now col-4"><a href="https://alumni.humboldt.edu/hsu-giving"><img src="/themes/humboldt2/img/give-btn.png" alt="Give Now Support HSU Students &amp; Programs"><span class="visuallyhidden" original-class="visuallyhidden">Give Now Support HSU Students &amp; Programs</span></a></p>
 </div>
 
 </div>
<!-- /wrapper-->
 </header><!-- search --><div class="wrapper" original-class="wrapper"> 
 <h1 class="title kilo" original-class="title kilo">Gift &amp; Estate Planning </h1> 
 
 <div id="tabs"></div> </div>
<!-- /wrapper -->
 <div class="region region-content" original-class="region region-content">
 <div id="block-system-main" class="block block-system" original-class="block block-system">
 
 <div class="content" original-class="content">
 
<div class="layout-sidebar-right content-wrap clearfix " original-class="layout-sidebar-right content-wrap clearfix ">
 <div class="col-7" original-class="col-7">
<div class="panel-pane pane-fieldable-panels-pane pane-uuid-15c69303-b5ef-4ab8-bf17-08fd7afd9bd9 pane-bundle-text" original-class="panel-pane pane-fieldable-panels-pane pane-uuid-15c69303-b5ef-4ab8-bf17-08fd7afd9bd9 pane-bundle-text">
 
 
 
 <div class="pane-content" original-class="pane-content">
 <div class="fieldable-panels-pane" original-class="fieldable-panels-pane">
 
 <div class="field-basic-text-text" original-class="field-basic-text-text">
 	{% include '/themes/pgcalc_master/templates/page.content.html.twig' %}
 </div>
</div>
 </div>
 
 </div>
</div>
 <div class="col-5" original-class="col-5">
<div class="panel-pane pane-views-panes pane-loyalty-panel-pane-1" original-class="panel-pane pane-views-panes pane-loyalty-panel-pane-1">
 
 
 
 <div class="pane-content" original-class="pane-content">
 <div class="view view-loyalty view-id-loyalty view-display-id-panel_pane_1 view-dom-id-73e7cf07099c2b7fe78d8a2c223f9672" original-class="view view-loyalty view-id-loyalty view-display-id-panel_pane_1 view-dom-id-73e7cf07099c2b7fe78d8a2c223f9672">
 
 
 
 <div class="view-content" original-class="view-content">
 <div>
 
 <div class="loyalty-title" original-class="loyalty-title">
 
</div> 
 <div class="loyalty-body" original-class="loyalty-body">{{ page.menu }}</div> </div>
 </div>
 
 
 
 
 
 
</div> </div>
 
 </div>
</div>
</div> </div>
</div>
 </div>
 <footer class="clearfix" original-class="clearfix"><div class="wrapper" original-class="wrapper">
 <div class="circleh" original-class="circleh"><a href="http://humboldt.edu"></a></div>
 <div class="col-3" original-class="col-3"> <div class="region region-footer-one" original-class="region region-footer-one">
 <div id="block-block-3" class="block block-block" original-class="block block-block">
 <h2>Contact Us</h2>
 
 <div class="content" original-class="content">
 <p>Office of Philanthropy<br>Nelson Hall West, 2nd Floor<br><span>1 Harpst St, Arcata, CA 95521</span><br><span>Phone: 707.826.5200</span><br>Email: <a href="mailto:giving@humboldt.edu">giving@humboldt.edu</a></p> </div>
</div>
 </div>
</div>
 <div class="col-3" original-class="col-3"> <div class="region region-footer-two" original-class="region region-footer-two">
 <div id="block-block-6" class="block block-block" original-class="block block-block">
 <h2>Related Links</h2>
 
 <div class="content" original-class="content">
 <ul><li><span><a href="http://www.humboldt.edu/advancement">University Advancement</a><br></span></li>
<li><a href="http://www.humboldt.edu/hsuaf"><span>HSU Advancement Foundation</span></a></li>
<li><span><a href="http://giftplanning.humboldt.edu">Planned Giving</a><br></span></li>
</ul></div>
</div>
 </div>
</div>
 <div class="col-3" original-class="col-3"></div>
 <div class="col-3" original-class="col-3"> <div class="region region-footer-four" original-class="region region-footer-four">
 <div id="block-block-4" class="block block-block" original-class="block block-block">
 
 <div class="content" original-class="content">
 <p><a href="http://forever.humboldt.edu"><img alt="Forever Humboldt" class="media-element file-default panopoly-image-original" original-class="media-element file-default panopoly-image-original" src="/themes/humboldt2/img/fh-logo-flat.png"></a></p> </div>
</div>
 </div>
</div>
 </div>
 </footer><script type="text/javascript" src="/themes/humboldt2/js/4a26bedd9099c842c8ab5bfa8ef3d765.js"></script><script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-133335-1']);
	_gaq.push(['_setDomainName', 'humboldt.edu']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
 </script><script type="text/javascript">
	window.NREUM || ( NREUM = {});
	NREUM.info = {
		"beacon" : "bam.nr-data.net",
		"licenseKey" : "54500a80cf",
		"applicationID" : "5149101",
		"transactionName" : "Z1FaZ0YCW0IFUEZaXV4beVBAClpfS0NTVFdvWVldVQRQQztdXVdXb0JRVkM8RVADVg==",
		"queueTime" : 0,
		"applicationTime" : 228,
		"ttGuid" : "",
		"agentToken" : "",
		"atts" : "SxZZEQ4YSEw=",
		"errorBeacon" : "bam.nr-data.net",
		"agent" : ""
	}
</script></body>