{{#cssIncludes.all}}
<link rel="stylesheet" href="{{{path}}}" />
{{/cssIncludes.all}}
{{#cssIncludes.ie7}}
<!--[if lt IE 8]>
<link rel="stylesheet" href="{{{path}}}" />
<![endif]-->
{{/cssIncludes.ie7}}

<div id="pgc-gc-wrap">
    <div id="pgc-gc"></div>
    <div class="gc-loader"></div>
</div>
<script type="text/javascript">
    var socket = new easyXDM.Socket({
        onReady:  function(){
            socket.postMessage(document.body.scrollHeight)
        }
    });
</script>