<div class="gc-customize">
    <div class="gc-customize-gift-warning">{{giftWarning}}</div>
    <div class="gc-customize-container gc-left">
        <div class="gc-tl">{{{topLeft}}}</div>
        <div class="gc-bl">{{{bottomLeft}}}</div>
    </div>
    <div class="gc-customize-container gc-right">
        <div class="gc-tr">{{{topRight}}}</div>
        <div class="gc-br">{{{bottomRight}}}</div>
    </div>
    <div class="pgc-clearfix"></div>
    <div class="gc-customize-container gc-left">
        <div class="gc-cl">{{{contactLeft}}}</div>
    </div>
    <div class="gc-customize-container gc-right">
        <div class="gc-cr">{{{contactRight}}}</div>
    </div>
    <div class="pgc-clearfix"></div>
    <div class="gc-customize-form-errors">{{formError}}</div>
    <button id="gc-customize-submit" class="gc-btn" alt="{{#submitLabel}}{{submitLabel}} {{/submitLabel}} {{^submitLabel}}Submit {{/submitLabel}}button">{{#submitLabel}} {{submitLabel}} {{/submitLabel}} {{^submitLabel}} Submit {{/submitLabel}}</button>
    <button id="gc-customize-cancel" class="gc-btn-cancel" alt="{{#cancelLabel}}{{cancelLabel}} {{/cancelLabel}} {{^cancelLabel}}Cancel {{/cancelLabel}}button">{{#cancelLabel}} {{cancelLabel}} {{/cancelLabel}} {{^cancelLabel}} Cancel {{/cancelLabel}}</button>
    <div class="pgc-clearfix"></div>
</div>