<div class="gc-question textarea">
    <label for="{{id}}" class="gc-form-label">{{label}} <span class="gc-required">{{required}}</span></label>
    <textarea  class="gc-form-textarea {{format}}" id="{{id}}" rows="4" cols="40">{{value}}</textarea>
    <div class="gc-error">{{error}}</div>
</div>