<div class="gc-question checkbox">    
    <input type="checkbox"  class="gc-form-checkbox {{format}}" id="{{id}}" value="{{value}}" {{checked}} alt="{{label}} checkbox">
    <label for="{{id}}" class="gc-form-label">{{label}} <span class="gc-required">{{required}}</span></label>
    <div class="gc-error">{{error}}</div>
</div>