.pg-breadcrumb {

}

.pg-breadcrumb .pg-breadcrumb-links {
    font-size: .9em;
    font-style: normal;
    text-transform: none;
}

.pg-breadcrumb .pg-breadcrumb-links a {
    font-size: .9em;
    font-style: normal;
    text-transform: none;
}

.pg-breadcrumb .pg-breadcrumb-links a:hover {

}

