.pgc-brochure-bg-top{
	height: 80px;
}

.pgc-brochure-header-text{
	color:#fff; 	
	font-weight:normal;	
    font-size: 24px;
}

.pgc-brochure-footer-text{
    color: #fff;
}

.pgc-brochure-footer-title {
    font-size: 26px;
    margin-bottom: 10px;
}