#pgc_resource_block {
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px 20px;
    -webkit-box-shadow: 0px 0px 4px #666;
    -moz-box-shadow: 0px 0px 4px #666;
    box-shadow: 0px 0px 4px #666;
    text-align: center;
    behavior: url(/PIE.htc);
}

#pgc_resource_block a {
    color: #3972b1;
}

#pgc_resource_block a:hover {

}